*{
    margin: 0px;
    padding: 0px;
}
.HEADER
{
overflow: auto;
}
.HEADER .nav{
width: 100%;
height: 70px;
display: flex;
justify-content: space-between;
position: fixed;
background-color: white;
}
.HEADER .nav .sigma{
font-size: 32px;
margin-right: 110px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: gray;
margin-top:22px ;
text-decoration: none;
}
.HEADER .nav ul{
    list-style-type:none ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
    flex-direction: row-reverse;
    width: 40%;
}
.HEADER .nav ul li a.get{
border: 1px solid rgba(0, 0, 0, .2);
padding: 8px 23px 8px 23px;
color: rgba(0, 0, 0, .6);;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
font-size: 15px;
border-radius: 4%;
margin-left: 10px;
}
.HEADER .nav ul li a:hover{
    color:rgb(64, 168, 203);
}
.HEADER .nav ul li a.get:hover{
background-color: rgb(89, 89, 248);
color: white;
}
.HEADER .nav ul li  .a1{
color: rgb(51, 134, 162);
}
.HEADER .nav ul li a{
    text-decoration: none;
    padding: 17px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(114, 114, 114);
    font-weight: bold;
}
.home {
display: flex;
padding-top: 50px;
}
.home .img{
margin: 80px 0px 0px 300px;
width: 40%;
}
.home .text{
    width: 60%;
    text-align: right;
}
.home .text h1{
margin: 100px 88px 10px 300px;
font-size: 45px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(67, 67, 67);

}
.home .text p{
font-size: 25px;
margin-right:95px ;
color: rgba(0, 0, 0, .6);
}
button{
font-size: 20px;
padding: 10px 30px;
background-color: rgb(64, 168, 203);
border: 0px ;
border-radius: 3px;
color: white;
margin-top: 23px;
margin-right:95px ;
box-shadow: 6px 6px 5px  lightblue;
}
button:hover{
    background-color: rgb(89, 89, 248);
}
.content {
width: 100%;
height: 300px;
display: flex;
margin-top: 200px ;
text-align: right;
}
.content .right{
    width: 50%;
    background-color: rgba(0, 0, 0, .04);
    margin: 20px 0px 50px 100px;
    padding: 10px;
    border-radius: 5px;
}
.content .left{
    width: 50%;
    background-color: rgba(0, 0, 0, .04);
    margin: 20px 100px 50px 20px;
    padding: 15px;
    border-radius: 5px;
}
.content a{
text-decoration: none;
font-size: 10px;
    color: rgba(0, 0, 0, .6);
}
.content a:hover {
    color:rgb(46, 131, 160);
    }
.paragragh1{
    color: rgba(0, 0, 0, .6);
    margin-top: 10px;
}
.content2 {
    display: flex;
}
.content2 .text{
    width: 50%;
    text-align: right;
    padding: 40px 0px;
}
.content2 .text h1{
    color: rgba(0, 0, 0, .5);
    padding-bottom: 10px;
}
.content2 .text p{
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
    padding-left: 80px;
}
.content2 .photo{
    width: 50%;
    padding: 40px 0px;
}
.content2 .photo img{
    width: 80%;
    margin: 0px 10px 0px 30px;
}
.content3{
    height: 1050px;
    margin-top: 6px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .04);
    text-align: center;
}
.content3 .header{
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0);
}
.content3 .header h1{
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
color: rgba(0, 0, 0, .6);
text-shadow: -0px -20px rgba(0, 0,0, 0.06);
}
.content3 .header p{
text-align: center;
color: rgba(0, 0, 0, .6);
padding-bottom: 10px;
}
.content3 .layout{
display: flex;
justify-content: space-around;
flex-wrap:wrap;
width: 90%;
margin: auto;
margin-top: 30px;
text-align: center;
}
.content3 .layout .box{
    width: 250px;
    height: 80px;
    padding: 30px 30px 40px 30px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content3 .layout .box h1 a{
font-size:23px;
padding: 20px;
color: rgba(0, 0, 0, .6);
text-decoration: none;
}
.content3 .layout .box h1 a:hover{
    color:rgb(64, 168, 203);
}
.content3 .footer{
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 100px;
}
.content3 .footer h1{
margin-bottom: 15px;
    font-size:32px ;
    color: rgba(0, 0, 0, .6);
    text-shadow: -0px -20px rgba(0, 0, 0, 0.08);
    }
.content3 .footer p{
    color: rgba(0, 0, 0, .6);
    }
.content4{
    height: 1000px;
}
.content4 .header{
    margin-top: 100px;
    background-color: rgba(0, 0, 0,0);
}
.content4 .header h1{
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
text-shadow: -0px -20px rgba(0, 0,0, 0.06);
color: rgba(0, 0, 0, .6);
}
.content4 .header p{
text-align: center;
color: rgba(0, 0, 0, .6);
}
.content4 .layout {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 20px;
}
.content4 .layout .form {
width: 60%;
height: 750px;
border-top: 3px solid rgb(51, 134, 162);
border-bottom: 3px solid rgb(51, 134, 162);
margin: 20px 20px 20px 100px;
padding: 30px 30px;
background-color: rgba(0, 0, 0, .04);
text-align: right;
}
.content4 .layout .form .name
{
    width: 48%;
    float: right;
}
.content4 .layout .form .email
{
    width: 48%;
}
.content4 .layout .form .topic
{
margin: 30px 0px;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-color:rgba(0, 0, 0, .1);
    display: inline;
}
textarea{
    border-radius: 6px;
    width: 100%;
    border-color:rgba(0, 0, 0, .1);
    padding-top:15px ;
}
.b{  
    text-align: center;
}
.content4 .layout .location {
width: 40%;
height: 750px;
border-top: 3px solid rgb(51, 134, 162);
border-bottom: 3px solid rgb(51, 134, 162);
margin: 20px 100px 20px 20px;
padding: 10px;
background-color: rgba(0, 0, 0, .04);
}
.content4 .layout .location .box1{
display: flex;
justify-content: space-between;
text-align: right;
padding: 10px;
}
.box1 h1{
font-size:20px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(99, 98, 98);

}
.box1 p{
    color: rgba(0, 0, 0, .4);
}
.box1 i{
font-size: 20px;
}
iframe{
    padding-top: 20px;
}
.FOOTER{
    background-color: rgba(0, 0, 0, .04);
    height: 400px;
    text-align: center;
}
.FOOTER .layout{
    width: 70%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 90px;
    margin: auto;
}
.FOOTER .layout h1{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(82, 81, 81);
}
.paragragh{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}
.p1{
    margin: 40px;
    text-align: left;
    color: rgba(0, 0, 0, .6);
}
.p2{
    margin: 40px;
    text-align: right;
    color: rgba(0, 0, 0, .6);
}
.paragragh .p2 a{
    color: green;
    text-decoration: none;
}
.paragragh .p2 a:hover{
    color: rgb(131, 131, 242);
}
i{
    font-size: 30px;
    color:rgb(46, 131, 160);
    margin: 10px 10px;
}
.navmedia{
    width: 90%;
    height: 90vh;
    background-color:black; 
    position: absolute;
    z-index: 9000;
    display: none;
}
.navmedia .sigma{
    font-size: 32px;
    margin-right: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gray;
    margin-top:22px ;
    text-decoration: none;
    }
    .navmedia ul{
        list-style-type:none ;
        margin-top: 30px;
        flex-direction: row-reverse;
        width: 40%;
    }
    .navmedia ul li a.get{
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 8px 23px 8px 23px;
    color: rgba(0, 0, 0, .6);;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    border-radius: 4%;
    margin-left: 10px;
    }
    .navmedia ul li a.get:hover{
    background-color: rgb(89, 89, 248);
    color: white;
    }
    .navmedia ul li  .a1{
    color: rgb(51, 134, 162);
    }
    .navmedia ul li a{
        text-decoration: none;
        padding: 17px;
        font-size: 15px;
        font-weight: bold;
        color: rgb(114, 114, 114);
        font-weight: bold;
    }
    @media(max-width:750px){
        .navmedia{
            display: none;
            width: 90%;
            height: 50vh;
        }
    .nav ul li{
        display: none;
    }
    .navmedia ul li{
        margin: 5px;
    }
    .navmedia ul li a.get{
        color: white;
        font-size: 15px;
        padding: 0px 0px;

        }
     .navmedia .sigma{
           display: none;
            }
            .nav {
                float: right;
            }
            .HEADER .nav .sigma{
                font-size: 35px;
                margin: 0px 0px;
                padding: 15px;           
            }
            .home {
                display: inline;
                padding-top: 20px;
                width: 90%;
                text-align: center;
                }
                .home .img{
                margin: 100px 10px;
                }
                .home .text{
                    width: 100%;
                    text-align: right;
                }
                .home .text h1{
                    padding: 10px;
                margin:10px 0px;
                font-size: 30px;
                }
                .home .text p{
                    padding: 10px;
                font-size: 20px;
                margin:0px;
                }
                button{
                font-size: 20px;
                padding: 10px 30px;
                margin: 10px 15px;
                }
                .content {
                    width: 90%;
                    display: inline;
                    }                    
                .content .right{
                    width: 90%;
                    margin: 50px 7px 25px 7px;
                    padding: 10px;
                }
                .content .left{
                    width: 90%;
                    margin: 0px 7px 25px 7px;
                    padding: 10px;
                }
                .content i{
                    padding-bottom: 10px;
                    font-size: 22px;
                }
                .paragragh1{
                    padding-bottom:15px ;
                }
                .content2 {
                    flex-direction: column-reverse;
                }
                .content2 .text{
                    width: 90%;
                    padding: 20px 10px 50px 20px;
                }
                .content2 .text h1{
                    color: rgba(0, 0, 0, .5);
                    padding-bottom: 10px;
                }
                .content2 .text p{
                    color: rgba(0, 0, 0, .7);
                    padding: 0px;
                }
                .content2 .photo{
                    width: 90%;
                    padding: 10px;
                }
                .content2 .photo img{
                    height: 40vh;
                }

                .content3{
                    height: 2200px;
                    width: 100%;
                }
                .content3 .layout{
                    display: block;
                    width: 100%;
                    margin: auto;
                    margin-top: 30px;
                    }
                    .content3 .layout .box{
                        width: 70%;
                        margin: auto;
                        text-align: center;
                        height: 80px;
                        padding: 20px;
                        margin-bottom: 20px;
                    }
                    .content3 .layout .box h1 a{
                        font-size:17px;
                        }
                        .content4{
                            height: 1700px;
                        }
                    .content4 .header{
                        padding: 10px;
                    }
                    .content4 .layout {
                        width: 80%;
                        margin: auto;
                        height: 300px;
                        display: block;
                        margin-top: 20px;
                    }
                    .content4 .layout .form {
                    width: 100%;
                    height: 700px;
                    margin: 0px;
                    padding: 10px;
                    text-align: right;
                    }
                    .content4 .layout .form .name
                    {
                    text-align: right;
                    width: 100%;
                    padding: 20px 0px;
                    }
.content4 .layout .form .email
{
    width: 100%;
}
.b{
    padding-top: 20px;
}
                    .content4 .layout .location {
                    width: 100%;
                    height: 700px;
                    margin:10px 0px;
                    }
                    .FOOTER{
                        height: 330px;
                        width: 100%;
                    }
                    .FOOTER .layout{
                        width: 70%;
                        padding: 70px 0px;
                        margin: auto;
                    }
                    .FOOTER .layout h1{
                    font-size: 35px;
                    }
                    .paragragh{
                        display: block;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                    }
                    .p1{
                        margin: 15px;
                        text-align: center;
                        color: rgba(0, 0, 0, .6);
                    }
                    .p2{
                        margin: 15px;
                        text-align: center;
                        color: rgba(0, 0, 0, .6);
                    }
                    .paragragh .p2 a{
                        color: green;
                        text-decoration: none;
                    }
                    .paragragh .p2 a:hover{
                        color: rgb(131, 131, 242);
                    }
                    i{
                        font-size: 20px;
                        color:rgb(46, 131, 160);
                        margin: 10px 5px;
                    }
                            
    }
    